.component-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    max-height: 200px;
    object-fit: cover;
    border: 1px solid var(--border-color);
}


section {
    position: relative;
    overflow: hidden;
    padding: 2.5rem 0;
}


#demo .component-image,
#faq .component-image,
#testimonials .component-image {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#testimonials {
    background: url('/Testimonal_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.video-wrapper {

    max-width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background: #000;
}

.video-wrapper video {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}